.container {
  width: 1005px;
  margin: 20px auto;
  position: relative;
  display: flex;
}

.main, .buttons {
   display: inline-block;
}

/* MAIN */
.main {
   width: 705px;
   height: 700px;
}

.graph {
   width: 90%;
   height: 90%;
   margin: 0 auto;
   background: #2E2B44;
}

.buttons {
   width: 282px;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   position: relative;
}

/* Modal */
.modal {
  width: 500px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
  background: #464368;
  outline: none;
  z-index: -2;
}

.modalClose {
  position: absolute;
  top: -13px;
  right: -13px;
  display: block;
  font-size: 16px;
  line-height: 27px;
  width: 32px;
  height: 32px;
  background: #2E2B44;
  border-radius: 50%;
  color: #FFF;
  cursor: pointer;
  text-align: center;
  z-index: 2;
}

.modalClose:hover {
  background: #464368;
}

.closeIcon {
  vertical-align: middle;
  font-size: 1.2em;
}
