.container {
  width: 1005px;
  margin: 20px auto;
  position: relative;
  display: flex;
}

.main, .buttons {
   display: inline-block;
}

/* MAIN */
.main {
   width: 705px;
   height: 700px;
}

.graph {
   width: 90%;
   height: 90%;
   margin: 0 auto;
   background: #2E2B44;
   overflow-y: auto;
}

.buttons {
   width: 282px;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   position: relative;
}
