.container {
   width: 280px;
   margin: 30px auto;
}

.default, .create, .load {
   display: none;
}

.default div {
   display: block;
}

.create div {
   display: block;
}

.load div {
   display: block;
}
