.container {
   text-align: center;
}

.depositHeader {
   background: #2E2B44;
   margin-bottom: 20px;
}

.depositHeader h3 {
   margin: 0;
   padding: 10px 0;
   text-align: center;
   text-transform: uppercase;
   font-family: 'Jigsaw Light';
}

.depositSection {
   padding: 30px;
}

.address {
   background-color: #2E2B44;
   padding: 10px 0;
   font-style: normal;
   font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
   border-radius: 5px;
   display: block;
   width: 90%;
   margin: 20px auto;
}
