.container {
}

.withdrawHeader {
   background: #2E2B44;
   margin-bottom: 20px;
}

.withdrawHeader h3 {
   margin: 0;
   padding: 10px 0;
   text-align: center;
   text-transform: uppercase;
   font-family: 'Jigsaw Light';
}

.withdrawSection {
   margin-bottom: 20px;
   padding: 15px 30px;
}

.inputContainer {
   position: relative;
}

.inputContainer span {
   position: absolute;
   top: 13px;
   left: 10px;
   color: #ccc;
   font-size: 25px;
}

.withdrawSection label {
   display: block;
   text-transform: uppercase;
   font-family: 'Jigsaw Light';
}

.withdrawSection input {
   padding: 10px;
   border-radius: 2px;
   height: auto;
   border: 1px solid #CCCDC8;
   background-color: #FAFAFA;
   font-size: 16px;
   margin: 5px auto 0px auto;
   width: 95%;
   text-indent: 25px;
}

.withdrawSection input:active, input:focus {
   outline: 0;
   border: 1px solid #58A1FF;
}

buttonContainer {
   display: block;
   width: 50%;
   margin: 0 auto;
   text-align: center;
}

buttonContainer btn span {
   margin: 0 5px;
}
