.container {
   width: 1005px;
   margin: 0 auto;
   color: #6a6a6a;
   font-family: 'Noto Sans';
}

.matchup {
   padding: 50px 20px;
   background: #eee;
   background-image: linear-gradient(to bottom,#d7d7d7 0%,#eeeeee 116px);
}

.team, .details {
   display: inline-block;
   vertical-align: top;
}

.team {
   width: 25%;
   text-align: center;
   background: #eee;
   background-image: linear-gradient(to bottom,#d7d7d7 0%,#eeeeee 116px);
}

.team img {
   width: 115px;
}

.team span {
   display: block;
}

.team .user_tx a span {
   color: #4CAF50;
   margin-top: 10px;
   font-size: 40px;
}

.betDetails {
   padding: 5px 0;
   text-align: center;
   margin-top: 20px;
   border: 1px solid #ccc;
}

.betDetails h4 {
   text-transform: uppercase;
   font-weight: bold;
   margin: 0 0 10px 0;
   border-bottom: 1px solid #ccc;
   padding: 5px 0;
}

.betDetails aside {
   display: inline-block;
   width: 33%;
   text-align: center;
}

.middleDetail {
   border-left: 1px solid #ccc;
   border-right: 1px solid #ccc;
}

.betDetailTitle {
   text-transform: uppercase;
   font-weight: 100;
   color: #bbb;
   font-size: 10px;
}

.betDetailData {
   font-size: 14px;
   text-transform: capitalize;
}

.details {
   width: 50%;
   text-align: center;
}
.details h2, .details h3, .details h4 {
   margin: 5px 0;
   /*color: #414141;*/
   color: #6a6a6a;
}

.details h2 {
   font-size: 32px;
}

.details h3 {
   font-size: 22px;
}

.details h4 {
   font-size: 18px;
}

.details .contract a {
   color: #06c;
   text-transform: uppercase;
   font-size: 20px;
   text-decoration: underline;
}

.linescoreContainer {
   text-align: center;
   margin-top: 25px;
}

.linescoreContainer table {
   font-size: 14px;
   font-family: 'Jigsaw Light';
   border-collapse: collapse;
   border-spacing: 0;
   cellspacing: 0;
   margin: 0 auto;
}

.linescoreContainer thead {
   background: #f0f0f0;
}

.linescoreContainer tbody {
}

.linescoreContainer td, .linescoreContainer th {
   min-width: 24px;
}

.linescoreContainer td {
   text-align: center;
   padding: 5px;
   background: #fff;
   border: 1px solid #eee;
   cursor: pointer;
}

.linescoreContainer .linescoreTeam {
   border: 1px solid #ccc;
   padding: 3px 15px;
   background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
   text-shadow: 0 1px 0 #FFF;
   color: #848484;
}

.score {
   font-weight: bold;
   font-family: 'Jigsaw Medium';
}

.linescoreContainer .score, .linescoreContainer .hits, .linescoreContainer .errors {
   border: 1px solid #ccc;
   padding: 3px;
   background: linear-gradient(to bottom,rgba(245,245,245,1) 0%,rgba(240,240,240,1) 100%);
   text-shadow: 0 1px 0 #FFF;
   color: #848484;
}
