.container {
   width: 80%;
   margin: 0 auto;
   color: #000;
}

.matchup {
   padding: 50px 0;
   background: #FFF;
}

.team, .details {
   display: inline-block;
   vertical-align: top;
}

.team {
   width: 25%;
   text-align: center;
}

.team img {
   width: 115px;
}

.team span {
   display: block;
}

.team .user_tx a span {
   color: #4CAF50;
   margin-top: 10px;
   font-size: 40px;
}

.details {
   width: 50%;
   text-align: center;
}
.details h2, .details h3, .details h4 {
   margin: 5px 0;
   color: #414141;
}

.details h2 {
   font-size: 32px;
}

.details h3 {
   font-size: 22px;
}

.details h4 {
   font-size: 18px;
}

.details .contract a {
   color: #06c;
   text-transform: uppercase;
   font-size: 20px;
   text-decoration: underline;
}

.linescoreContainer {
   text-align: center;
}

.linescoreContainer table {
   font-size: 14px;
   font-family: 'Jigsaw Light';
   border-collapse: collapse;
   border-spacing: 0;
   cellspacing: 0;
   margin: 0 auto;
}

.linescoreContainer thead {
   background: #f0f0f0;
}

.linescoreContainer tbody {
   background: #f7f7f7;
}

.linescoreContainer td, .linescoreContainer th {
   min-width: 24px;
}

.linescoreContainer td {
   text-align: center;
   padding: 5px;
}

.score {
   font-weight: bold;
   font-family: 'Jigsaw Medium';
}
